* {
    box-sizing: border-box;
    width: 100%;
}


body {
    background-color: #FCFAFF;
}

.top_bar {
    font-family: 'Syne', sans-serif;
    color: #122743;
    text-align: center;
    justify-content: start;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
}

.create {
    font-family: 'Syne', sans-serif;
    color: black;
    text-align: center;
    size: 36px;
    margin: 50px;
    padding: 0px;
}

.create p {
    font-family: 'Space Grotesk';
    color: #532C59;
    line-height: 24px;

    
}

.create button {
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
    font-size: 16px;

    background-color: #532C59;
    border-radius: 15px;
    padding: 0px 8px;
    width: 114px;
    height: 44px;
}

.contain_logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 288px;
    height: 64px; 
}

.logos {


}

.hottest {
    font-family: 'Syne', sans-serif;
    color: black;
    text-align: center;
    size: 36px;
    margin: 50px;
    padding: 0px;
}

.hottest p {
    font-family: 'Space Grotesk';
    color: #532C59;
    line-height: 24px; 
}

.Moonbirds img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.Clone img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.Dragon img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}


.our_team {
    font-family: 'Syne', sans-serif;
    color: black;
    text-align: center;
    size: 36px;
    margin: 50px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_team p {
    font-family: 'Lexend Deca';
    color: #532C59;
    line-height: 24px; 
}





.bottom_bar {
    font-family: 'Syne', sans-serif;
    color: #122743;
    text-align: center;
    justify-content: start;
    background: #FFFFFF;
    border-bottom: 1px solid #CCD5DF;
}

.extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    border-bottom: 1px solid #CCD5DF;
}

.extra_items {
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    opacity: 50%;

}


.end {
    font-family: 'Space Grotesk';
    opacity: 50%;
    text-align: center;
}