

* {
    box-sizing: border-box;
    width: 100%;
}

/*@media screen and (max-width: 320px) {*/


body {
    
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 20%;
    
    background-color: #FCFAFF;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;


}

.top_bar {
    
    display: flex;
    flex-direction: row-reverse;
    
    font-family: 'Syne', sans-serif;
    color: #122743;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;


}

.menu {
    height: 20px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
}

.top_bar img {
    height: 2px;
    width: 18px;
    left: 3px;
    top: 6px;
    border-radius: 0px;    
}

.create {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: center;

}

.create p {
    font-family: 'Space Grotesk';
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59; 
}

.create button {
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
    font-size: 16px;

    background-color: #532C59;
    border-color: transparent;
    border-radius: 15px;
    padding: 0px 8px;
    width: 114px;
    height: 44px;
}

.contain_logos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 288px;
    height: 80px; 
    margin: 5%;
    
    font-family: 'Space Grotesk';
    font-weight:1000;
}

.logo1 {color: #192657;}

.logo2 {color: #3A3B7B;}

.logo3 {color: #001A49}

.logo4 {color: #122743;}

.logo5 {color: #3A3B7B;;}

.logo6 {color: #2F234F;}


.hottest {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.hottest p {
    font-family: 'Space Grotesk';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
}

.hottest h2 {
    font-family: 'Syne';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
}

.Moonbirds .Clone .Dragon p {
    font-family: 'Space Grotesk';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.Moonbirds img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}



.Clone img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.Dragon img {
    height: 396px;
    width: 288px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}


.our_team {

    font-family: 'Syne', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    text-align: center;


    margin: 20px;
    padding: 0px;


}

.our_team p {

    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;

}

.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.our_team h2 {
    font-family: 'Lexend Deca';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
}

.our_team img {
    height: 80px;
    width: 80px;
    left: 0px;
    top: 0px;
    border-radius: 99px;
      
}

.we_provide {
    font-family: 'Syne', sans-serif;
    color: black;
    font-family: Syne;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.we_provide p {
    font-family: 'Space Grotesk';
    color: #532C59;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.we_provide h3 {
    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
}

.we_provide img {
    height: 40px;
    width: 42px;
    left: 3px;
    top: 4px;
    border-radius: 0px;
}    

.testimonials {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;

}

.questions {
    font-family: 'Syne';
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.questions p {
    font-family: 'Space Grotesk';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
}

.inputs {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 250px;
    height: 60px;

    background: #FCFAFF;
    border-radius: 20px;
    border-color: #9F7AEA;
}

.questions select {

    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 250px;
    height: 60px;

    background: #FCFAFF;
    border-radius: 20px;
    border-color: #9F7AEA;
}

.ready {
    box-sizing: border-box;
    margin: 1%;
    left: 16px;
    right: 16px;
    top: 48px;
    bottom: 48px

    
    font-family: 'Syne';
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;


    background: #FCFAFF;
    border: 1px solid #D6BCFA;
    border-radius: 40px;
    box-shadow: inset 0px 0px 50px #F8E0FA;

}


.ready p {
    font-family: 'Space Grotesk';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.ready button {
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
    font-size: 16px;

    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;

    width: 156px;
    height: 44px;

    background: #532C59;
    border-color: transparent;
    border-radius: 15px;

    margin-bottom: 1%;
}


.bottom_bar {
    font-family: 'Syne', sans-serif;
    color: #122743;
    text-align: center;
    justify-content: start;
    background: #FFFFFF;
    border-bottom: 1px solid #CCD5DF;
}

.extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    border-bottom: 1px solid #CCD5DF;
}

.extra_items {
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    opacity: 50%;

}


.end {
    font-family: 'Space Grotesk';
    opacity: 50%;
    text-align: center;
}
