

* {
    box-sizing:border-box;
    width: 100%;
    /*outline: solid #f00 1px !important;*/
}


body {
    
    padding: 0%;

    background-color: #FCFAFF;   
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    justify-content: center;

}

.body {

    background-color: #FCFAFF;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    padding:5%;

}

.menu {
    height: 20px;
    width: 20px;
    left: 200px;
    top: 0px;
    border-radius: 0px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
    margin-left: 2%;
    
}

.menu img {
    height: 2px;
    width: 18px;
    left: 3px;
    top: 6px;
    border-radius: 0px;    
}

.top_bar {
   
    height: 70px;
    display: flex;
    flex-direction: row-reverse; 

    align-items: center;

    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;

    padding: 0%;
}

.zeus{
 
    font-family: 'Syne', sans-serif;
    color: #122743;
    font-weight: 1000;
    font-size: 30px;

    position: relative;
    right: 11%;
    top: 4%;
    border-radius: 0px;
}


.vector_stroke1 {
    height: 40px;
    width: 40px;
    
    position: relative;
    left: 25%;
    top: 4%;
    bottom: 0.06%;
}

.vector_stroke2 {
    height: 40px;
    width: 40px;

    position: relative;
    left: 26.5%;
    top: 3.5%;
    bottom: 0.06%;
}


.shape1 {
    position: absolute;
    width: 100px;
    right: 150px;
    top: 80px;
}

.shape2 {
    position: absolute;
    width: 150px;
    left: 0px;
    top: 350px;
}

.shape3 {
    position: absolute;
    width: 125px;
    left: 0px;
    top: 1000px;
}

.shape4 {
    position: absolute;
    width: 125px;
    right: 0px;
    top: 900px;
}
.create {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 66px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
    width: 800px;
    height: 900px;
    margin-bottom: 5%;


}

.create p {
    font-family: 'Space Grotesk';

    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59; 


}

.create button {
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
    font-size: 20px;

    background-color: #532C59;
    border-color: transparent;
    border-radius: 20px;
    padding: 0px;
    width: 200px;
    height: 70px;

}

.contain_logos {
    box-sizing:border-box;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;
    align-items: center;

    height: 70px;
    width: 250px;
    margin: 10%;
}

.logo1 {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: bold;
    color: #192657;

}

.logo2 {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #122743;
}
.logo3 {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: bold;
    color: #3A3B7B;
}
.logo4 {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: bold;
    color: #3A3B7B;
}
.logo5 {    
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: bold;
    color: #001A49
}

.logo6 {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: bold;
    color: #2F234F;
}


.hottest {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
    
}

.hottest p {
    font-family: 'Space Grotesk';
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
    margin-bottom: 10%;

}

.hottest h2 {
    font-family: 'Syne';
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    margin-bottom: 1%;
    margin-top: 0%;
}

.Moonbirds .Clone .Dragon p {
    font-family: 'Space Grotesk';
    font-size: 25px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.Moonbirds .Clone .Dragon img {
    height: 396px;
    width: 288px;

    border-radius: 30px;

    box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;

    margin-bottom: 0;
}


.our_team {
    
    font-family: 'Syne', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    text-align: center;

    margin: 30px;
    padding: 0px;
}

.our_team p {
    font-family: Space Grotesk;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
}

.team {
    box-sizing:border-box;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;
    align-items: center;

    height: 550px;
    width: 250px;
    margin-left: 35%;
    margin-top: 0%;
}

.team h3 {
    font-family: 'Lexend Deca';
    font-size: 30px;
    font-weight: 900px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    padding: 0;
}

.team img {
    height: 100px;
    width: 100px;
    left: 0px;
    top: 0px;
    
    border-radius: 99px;
    margin-bottom: -15%;
      
}

.we_provide {
    
    display: flex;
    flex-direction: column;
    align-content: center;

    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
}


.we_provide p {
    font-family: Space Grotesk;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
}

.benefits img {
    height: 40px;
    width: 42px;
    left: 3px;
    top: 4px;
    
    border-radius: 0px;
    margin-bottom: -5%;
} 

.benefits h3 {
    font-family: "Space Grotesk";
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
}

.benefits p {
    font-family: 'Space Grotesk';
    color: #532C59;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
}

   

.testimonials {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;

}

.questions {
    font-family: 'Syne';
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 20%;
}

.questions p {
    font-family: 'Space Grotesk';
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;
}

.selects {
display: flex;
flex-direction: column;
}

.selects select {
    box-sizing: border-box;

    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;

    position: relative;
    width: 700px;
    height: 100px;

    background: #FCFAFF;
    border-radius: 20px;
    border-color: #9F7AEA;
    margin: 2%;
}


.ready {
    font-family: 'Syne';
    font-size: 55px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0px;
    text-align: center;
    align-content: center;

    width: 800px;
    box-sizing: border-box;
    margin: 0%;
    left: 50px;
    right: 10px;
    top: 88px;
    bottom: 48px


    border: 1px solid #D6BCFA;
    border-radius: 40px;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    background: #FCFAFF;
}


.ready_p {
    font-family: 'Space Grotesk';
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #532C59;

    width: 700px;
    margin-left: 7%

}

.ready button {
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
    font-size: 16px;

    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;

    width: 200px;
    height: 70px;

    background: #532C59;
    border-color: transparent;
    border-radius: 15px;

    margin-bottom: 10%;
}


.bottom_bar {
    font-family: 'Syne', sans-serif;
    color: #122743;
    text-align: center;
    justify-content: start;
    background: #FCFAFF;
    border-bottom: 1px solid #CCD5DF;
    padding-top: 5%;

    font-weight: 1000;
    font-size: 30px;

}

.end {
    width: 800px;
}
.extra {

    display: flex;
    flex-direction: column;
    justify-content: center;


    padding: 0px;
    padding-left: 310px;
    background: #FCFAFF;
    border-bottom: 1px solid #CCD5DF;

}

.extra_items{

    box-sizing:border-box;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 150px;

    font-family: 'Space Grotesk';
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    opacity: 50%;
    background: #FCFAFF;
    margin: 4%;
}

.copyright {
    font-family: 'Space Grotesk';
    opacity: 50%;
    text-align: center;
    background: #FCFAFF;
}
