
body {
	box-sizing: border-box;
	background-color: #f7f6fa;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	justify-content: center;
}

.container {
	max-width: 100%;
}

.menu_button {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	left: 20px;
}

.menu_button_line {
	height: 2px;
	width: 18px;
	background-color: #000;
}

.top_bar {
	position: relative;
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background: #ffffff;
	border-bottom: 1px solid #f8e0fb;
}

#banner_main {
	padding: 16px 0px 70px;
	background-image: url("./images/background.jpeg");
}

#banner_main h1 {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 56px;
	letter-spacing: 0px;
	text-align: center;
	padding: 30px 0px;
	text-shadow: 1px 4px #ffffff;
}

#banner_main p {
	font-family: "Space Grotesk";

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 20px;
}

#banner_main button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;
	width: 100px;

	padding: 12px;
	margin: 15px;
}

#logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 10px 0 50px;
}

#hottest {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 16px 16px;
}

.hottest_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	margin-bottom: 20px;

	padding: 10px;
}

#hottest h2 {
	font-family: "Syne";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	margin-bottom: 10px;
	margin-top: 0;
}

.Moonbirds,
.Clone,
.Dragon p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 0 30px;
}

#hottest img {
	height: 396px;
	width: 288px;

	border-radius: 30px;

	box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	margin-bottom: 0;
}

#our_team {
	font-family: "Syne", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	text-align: center;

	padding: 16px;
}

.our_team_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 20px 0 25px;
}

.team {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.team h3 {
	font-family: "Lexend Deca";
	font-size: 20px;
	font-weight: 500px;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
}

.team p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 10px;
}

.team img {
	height: 80px;
	width: 80px;

	border-radius: 99px;
}

#we_provide {
	display: flex;
	flex-direction: column;
	align-content: center;

	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding: 16px;
}

.we_provide_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}

.benefits {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.benefit{
	flex: 300px;
}

.benefits img {
	height: 40px;
	width: 42px;
	left: 3px;
	top: 4px;

	border-radius: 0px;
	margin-top: 25px;
}

.benefits h3 {
	font-family: "Space Grotesk";
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: #000;
}

.benefits p {
	font-family: "Space Grotesk";
	color: #532c59;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
}

#testimonials {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;

	margin-top: 40px;
	width: 100vw;
	overflow: hidden;
}

.contain_testimonials {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;

	margin-top: 20px;
	width: 715px;
	margin-left: -189px;
}

.contain_testimonials img {
	margin: 5px;
}

#questions {
	padding: 16px;
	display: flex;
	flex-direction: column;
}

#questions h1 {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	margin: 20px;
}

.questions_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}

.question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 1px solid #d6bcfa;
	border-radius: 20px;

	padding: 16px;
	margin: 15px 0;
}

.question p {
	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: #000;

	padding-right: 40px;
}

.arrow {
	color: #9f7aea;
	width: 20px;
	height: 20px;
}

#ready {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	align-content: center;

	border: 1px solid #d6bcfa;
	border-radius: 40px;
	box-shadow: inset 0px 0px 50px #f8e0fa;
	background: #fcfaff;
	padding: 16px;
	margin: 10px;
}

#ready p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;

	margin: 10px;
}

#ready button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;

	padding: 12px;
}

footer {
	padding-top: 70px;
	width: 100%;
}



.end_logo img {


}

.extra {
	margin: 16px;
	border-top: 1px solid #ccd5df;
	border-bottom: 1px solid #ccd5df;
}

.extra_items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	opacity: 50%;
}

.item {
	padding: 10px 30px;
}
.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	font-family: "Space Grotesk";
	opacity: 50%;
	font-size: 14px;
	line-height: 20px;
	background: #fcfaff;
	margin: 30px;
}

@media (min-width: 768px) {
	#banner_main {
		padding: 16px 34px 70px;
		background-image: url("./images/background.jpeg");
	}

	#banner_main h1 {
		font-size: 72px;
		line-height: 88px;
	}

	#banner_main p {
		font-family: "Space Grotesk";

		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		padding: 20px 34px 20px;
	}

	#logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-around;
		align-content: center;
		align-items: center;
		padding: 10px 150px 50px;
	}

	#logos img {
		width: 150px;
	}

	#hottest {
		font-size: 40px;
		font-weight: 700;
		line-height: 56px;
		padding: 10px 34px 10px;
	}

	.hottest_p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}

	.Moonbirds, .Clone, .Dragon p {
		font-size: 14px;
		line-height: 20px;
	}

	.collections {
		display: flex;
		flex-direction: row;
	}

	#hottest img {
		height: 320px;
		width: 220px;

		border-radius: 30px;

		box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
		border-radius: 30px;
	}

	#our_team {
		padding: 10px 72px 10px;
	}
	.our_team_p {
		font-size: 16px;
		line-height: 24px;
	}

	.team p {
		font-size: 14px;
		line-height: 20px;
	}

	#we_provide {
		padding: 10px 72px 10px;
	}

	.we_provide_p {
		font-size: 16px;
		line-height: 24px;
	}

	.benefits h3 {
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
	}

	.benefits p {
		font-size: 14px;
		line-height: 20px;
	}

	#testimonials {
		font-family: "Syne", sans-serif;
		color: black;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		letter-spacing: 0px;
		text-align: center;
	
		margin-top: 40px;
		width: 100vw;
		overflow: hidden;
	}
	
	.contain_testimonials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
		justify-content: space-around;
		align-content: center;
		align-items: center;
	
		margin: 20px;
		width: 715px;
	
	}
	

	#questions {
		padding: 16px;
		display: flex;
		flex-direction: row;
	
	}
	.title_and_p {
		flex: 800px;
	}

	#questions h1 {
		font-size: 40px;
		font-weight: 600;
		line-height: 56px;
		text-align: left;
	}
	
	.questions_p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		margin:20px;
	}
	
	.question p {
		font-size: 20px;
		font-weight: 500;
		line-height: 26px;
	}

	#ready {
		margin: 32px;
	}

	.logo_extra {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 32px;
		}

		.end_logo {
			height: 50px;
		}

}
