body {
	box-sizing: border-box;
	background-color: #f7f6fa;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	justify-content: center;
}

.container {
	max-width: 100%;
}

.menu_button {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	left: 20px;
}

.menu_button_line {
	height: 2px;
	width: 18px;
	background-color: #000;
}

.top_bar {
	position: relative;
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background: #ffffff;
	border-bottom: 1px solid #f8e0fb;
}

.menu {
	display: none;
}

#banner_main {
	padding: 16px 0px 70px;
	background-image: url("./images/background.jpeg");
}

#banner_main h1 {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 56px;
	letter-spacing: 0px;
	text-align: center;
	padding: 30px 0px;
	text-shadow: 1px 4px #ffffff;
}

#banner_main p {
	font-family: "Space Grotesk";

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 20px;
}

#banner_main button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;
	width: 100px;

	padding: 12px;
	margin: 15px;
}

#logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 10px 0 50px;
}

#hottest {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 16px 20px;
}

.hottest_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	margin-bottom: 20px;

	padding: 10px;
}

.collections {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.collections h2 {
	font-family: "Syne";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	margin-bottom: 10px;
	margin-top: 0;
}

.collections p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 0 30px;
	color: #532c59;
}

.collections img {
	height: 396px;
	width: 288px;

	border-radius: 30px;

	box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	margin-bottom: 0;
}

.Ape,
.Moar,
.Doodles,
.Genesis,
.Arcade,
.Goons {
	display: none;
}

#our_team {
	font-family: "Syne", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	text-align: center;

	padding: 20px 16px 20px;
}

.our_team_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 20px 0 25px;
}

.team {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.team h3 {
	font-family: "Lexend Deca";
	font-size: 20px;
	font-weight: 500px;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
}

.team p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 10px;
}

.team img {
	height: 80px;
	width: 80px;

	border-radius: 99px;
}

#we_provide {
	display: flex;
	flex-direction: column;
	align-content: center;

	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding: 20px 16px 20px;
}

.we_provide_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}

.benefits {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.benefits img {
	height: 40px;
	width: 42px;
	left: 3px;
	top: 4px;

	border-radius: 0px;
	margin-top: 25px;
}

.benefits h3 {
	font-family: "Space Grotesk";
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: #000;
}

.benefits p {
	font-family: "Space Grotesk";
	color: #532c59;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
}

#testimonials {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;

	margin-top: 40px;
	width: 100vw;
	overflow: hidden;
}

.contain_testimonials {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;

	margin-top: 20px;
	width: 715px;
	margin-left: -189px;
}

.contain_testimonials img {
	margin: 5px;
}

#questions {
	padding: 40px 16px 20px;
	display: flex;
	flex-direction: column;
}

#questions h1 {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	margin: 20px;
}

.questions_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}

.question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 1px solid #d6bcfa;
	border-radius: 20px;

	padding: 16px;
	margin: 15px 0 0;
}

.question p {
	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: #000;

	padding-right: 40px;
}

.arrow {
	color: #9f7aea;
	width: 20px;
	height: 20px;
}

#ready {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	align-content: center;

	border: 1px solid #d6bcfa;
	border-radius: 40px;
	box-shadow: inset 0px 0px 50px #f8e0fa;
	background: #fcfaff;
	padding: 16px;
	margin: 20px 10px 20px;
}

#ready p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;

	margin: 10px;
}

#ready button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;

	padding: 12px;
}

footer {
	padding-top: 50px;
	width: 100%;
}

.extra {
	margin: 16px;
	border-top: 1px solid #ccd5df;
	border-bottom: 1px solid #ccd5df;
}

.extra_items_mobile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	opacity: 50%;
}

.item {
	padding: 10px 30px;
}

.extra_items {
	display: none;
}

.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	font-family: "Space Grotesk";
	opacity: 50%;
	font-size: 14px;
	line-height: 20px;
	background: #fcfaff;
	margin: 30px;
}

@media (min-width: 768px) {
	.menu {
		display: none;
	}

	#banner_main {
		padding: 16px 32px 70px;
		background-image: url("./images/Tablet\ Hero\ Background.png");
	}

	#banner_main h1 {
		font-size: 72px;
		line-height: 88px;
	}

	#banner_main p {
		font-family: "Space Grotesk";

		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		padding: 20px 32px 20px;
	}

	#logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-around;
		align-content: center;
		align-items: center;
		padding: 35px 150px;
	}

	#logos img {
		width: 150px;
	}

	#hottest {
		font-family: "Syne", sans-serif;
		color: black;
		font-size: 40px;
		font-weight: 700;
		line-height: 56px;
		letter-spacing: 0px;
		text-align: center;
		padding: 35px 32px;
	}

	.hottest_p {
		font-family: "Space Grotesk";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0px;
		text-align: center;
		color: #532c59;
		margin-bottom: 20px;

		padding: 20px 0;
	}

	.collections {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.collections h2 {
		font-family: "Syne";
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: center;
		color: black;

		margin-bottom: 10px;
		margin-top: 0;
		padding: 10px 0 0;
		width: 230px;
	}

	.collections p {
		font-family: "Space Grotesk";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0px;
		text-align: center;
		padding: 0 0 30px;
		color: #532c59;
		width: 230px;
	}

	.collections img {
		height: 280px;
		width: 220px;

		border-radius: 30px;

		box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
		border-radius: 30px;

		margin-bottom: 0;
		padding: 5px;
	}

	.Ape,
	.Moar,
	.Doodles,
	.Genesis {
		display: block;
	}

	.Arcade,
	.Goons,
	.Dragon {
		display: none;
	}

	#our_team {
		font-size: 40px;
		font-weight: 700;
		line-height: 56px;
		padding: 35px 32px;
	}

	.our_team_p {
		font-size: 16px;
		line-height: 24px;
		padding: 20px 0;
	}

	.team h3 {
		font-size: 24px;
		font-weight: 500px;
		line-height: 32px;
	}

	.team p {
		font-size: 14px;
		line-height: 20px;
	}

	#we_provide {
		font-size: 40px;
		font-weight: 700;
		line-height: 56px;
		padding: 35px 32px;
	}

	.we_provide_p {
		font-size: 16px;
		line-height: 24px;
		padding: 20px 0;
	}

	.benefit {
		width: 300px;
	}

	.benefits h3 {
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
	}

	.benefits p {
		font-size: 14px;
		line-height: 20px;
	}

	#testimonials {
		font-family: "Syne", sans-serif;
		color: black;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		letter-spacing: 0px;
		text-align: center;

		margin-top: 40px;
		width: 100vw;
		overflow: hidden;
	}

	.contain_testimonials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-around;
		align-content: center;
		align-items: center;

		margin: 20px;
		width: 715px;
	}

	#questions {
		padding: 16px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 35px 32px;
		justify-content: center;
	}

	.questions_part1 {
		width: 300px;
		margin-right: 20px;
	}

	.questions_part3 {
		padding-left: 320px;
	}

	#questions h1 {
		font-size: 40px;
		font-weight: 600;
		line-height: 56px;
		text-align: left;
		margin: 15px 0;
	}

	.questions_p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}

	.question {
		width: 300px;
		margin-left: 20px;
	}

	.question p {
		font-size: 20px;
		font-weight: 500;
		line-height: 26px;
	}

	#ready {
		margin: 32px;
		background-image: url("./images/Tablet\ Ready\ Background.png");
		padding: 16px 120px 16px;
	}

	footer {
		padding-top: 30px;
	}

	.logo_extra {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid #ccd5df;
		margin: 32px;
		justify-content: center;
	}

	.extra {
		margin: 16px;
		border-top: none;
		border-bottom: none;
	}

	.end_logo {
		height: 30px;
	}

	.extra_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		font-family: "Space Grotesk";
		font-size: 16px;
		font-weight: 600;
		line-height: 40px;
	}

	.item {
		padding: 10px;
		opacity: 50%;
	}

	.extra_items_mobile {
		display: none;
	}

	.end_logo_desktop {
		display: none;
	}
}

@media (min-width: 1024px) {
	.menu_button {
		display: none;
	}

	.menu_button_logo {
		display: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		font-family: "Space Grotesk";
		font-size: 16px;
		font-weight: 600;
		line-height: 40px;
	}

	.item {
		padding: 10px;
		opacity: 50%;
	}

	.item_plans {
		padding: 10px;
		opacity: 50%;
		padding-right: 0;
	}

	.menu_logo {
		padding: 0 110px 0;
	}

	.menu_arrow {
		color: black;
		opacity: 50%;
		padding-left: 0;
		padding-right: 10px;
	}

	#banner_main {
		padding: 16px 120px 70px;
		background-image: url("./images/Desktop\ Hero\ Background.png");
	}

	#banner_main h1 {
		font-size: 80px;
		line-height: 96px;
	}

	#banner_main p {
		font-family: "Space Grotesk";

		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		padding: 20px 0;
	}

	#logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-around;
		align-content: center;
		align-items: center;
		padding: 35px 50px;
	}

	#logos img {
		width: 150px;
	}

	#hottest {
		font-size: 48px;
		font-weight: 700;
		line-height: 64px;
		padding: 35px 30px;
	}

	.hottest_p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding: 20px 90px;
	}

	.collections {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.collections h2 {
		font-family: "Syne";
		font-size: 32px;
		font-weight: 700;
		line-height: 42px;
		letter-spacing: 0px;
		text-align: center;
		color: black;
		margin-bottom: 10px;
		margin-top: 0;
		width: 320px;
	}

	.collections p {
		font-size: 14px;
		line-height: 20px;
		color: #532c59;
		width: 280px;
		padding: 0;
		margin: 0 20px 20px;
	}

	#hottest img {
		height: 320px;
		width: 260px;

		border-radius: 30px;

		box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
		border-radius: 30px;
	}

	.Ape,
	.Moar,
	.Doodles,
	.Genesis,
	.Arcade,
	.Goons,
	.Dragon {
		display: block;
	}

	#our_team {
		font-size: 48px;
		font-weight: 700;
		line-height: 64px;
		padding: 35px 50px;
	}
	.our_team_p {
		font-size: 16px;
		line-height: 24px;
		padding: 20px 70px;
	}

	.team h3 {
		font-size: 24px;
		font-weight: 500px;
		line-height: 32px;
	}

	.team p {
		font-size: 14px;
		line-height: 20px;
	}

	#we_provide {
		font-size: 48px;
		font-weight: 700;
		line-height: 64px;
		padding: 35px 50px;
	}

	.we_provide_p {
		font-size: 16px;
		line-height: 24px;
		padding: 20px 70px;
	}

	.benefit {
		width: 200px;
	}

	.benefits h3 {
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
	}

	.benefits p {
		font-size: 14px;
		line-height: 20px;
		padding: 10px 0;
	}

	#testimonials {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "Syne", sans-serif;
		color: black;
		font-size: 48px;
		font-weight: 700;
		line-height: 64px;
		letter-spacing: 0px;
		text-align: center;

		margin-top: 40px;
		width: 100vw;
		overflow: hidden;
	}

	.contain_testimonials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-around;
		align-content: center;
		align-items: center;

		margin: 50px;
		width: 924px;
	}

	#questions {
		padding: 16px;
		display: flex;
		flex-direction: row;
		padding: 35px 50px;
	}

	.questions_part1 {
		width: 260px;
	}

	.questions_part3 {
		padding-left: 0px;
	}

	#questions h1 {
		font-size: 48px;
		font-weight: 600;
		line-height: 64px;
		text-align: left;
		margin: 15px 0;
	}

	.questions_p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}

	.question {
		width: 260px;
		margin-left: 20px;
	}

	.question p {
		font-size: 20px;
		font-weight: 500;
		line-height: 26px;
	}

	#ready {
		background-image: url("./images/Desktop\ Ready\ Background.png");

		font-size: 48px;
		font-weight: 600;
		line-height: 64px;

		margin: 35px 50px;
		padding: 70px;
	}

	#ready p {
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		padding: 20px;
	}

	.logo_extra {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid #ccd5df;
		margin: 32px;
	}

	.end_logo {
		display: none;
	}

	.extra {
		margin: 16px;
		border-top: none;
		border-bottom: none;
	}

	.extra_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		font-family: "Space Grotesk";
		font-size: 16px;
		font-weight: 600;
		line-height: 40px;
	}

	.item {
		padding: 10px;
		opacity: 50%;
	}

	.end_logo_desktop {
		display: block;
		height: 40px;
		padding: 0 110px 0;
	}
}
