/*outline: solid #f00 1px !important;*/

body {
	box-sizing: border-box;
	background-color: #fcfaff;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	justify-content: center;
}

.container {
	background-color: #f7f6fa;
	max-width: 100%;
}

.menu_button {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	left: 20px;
}

.menu_button_line {
	height: 2px;
	width: 18px;
	background-color: #000;
}

.top_bar {
	position: relative;
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background: #ffffff;
	border-bottom: 1px solid #f8e0fb;
}

#banner_main {
	padding: 16px 0px 70px;
	background-image: url("./images/background.jpeg");
}

#banner_main h1 {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 56px;
	letter-spacing: 0px;
	text-align: center;
	padding: 30px 0px;
	text-shadow: 1px 4px #ffffff;
}

#banner_main p {
	font-family: "Space Grotesk";

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 20px;
}

#banner_main button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;
	width: 100px;

	padding: 12px;
	margin: 15px;
}

#logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 10px 0 50px;
	background-color: #f7f6fa;
}



#hottest {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 16px 16px;
}

#hottest p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	margin-bottom: 10%;

	padding: 10px 0;
}

#hottest h2 {
	font-family: "Syne";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	margin-bottom: 10px;
	margin-top: 0;
}

.Moonbirds p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 0 10px;
}

.Clone p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 0 10px;
}

.Dragon p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 0 10px;
}


#hottest img {
	height: 396px;
	width: 288px;

	border-radius: 30px;

	box-shadow: inset 10px -10px 0px rgba(255, 255, 255, 0.5);
	border-radius: 30px;

	margin-bottom: 0;
}

#our_team {
	font-family: "Syne", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	color: black;
	text-align: center;

	padding: 16px;
}

#our_team p {
	font-family: Space Grotesk;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
	padding: 10px 0 25px;
}

.team {


	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-around;
	align-content: center;
	align-items: center;



}

.team h3 {
	font-family: "Lexend Deca";
	font-size: 20px;
	font-weight: 500px;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: black;

}

.team img {
	height: 80px;
	width: 80px;

	border-radius: 99px;
}

#we_provide {
	display: flex;
	flex-direction: column;
	align-content: center;

	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	padding:16px;
}

#we_provide p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}

.benefits img {
	height: 40px;
	width: 42px;
	left: 3px;
	top: 4px;

	border-radius: 0px;
	margin-top: 25px;
}

.benefits h3 {
	font-family: "Space Grotesk";
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: #000;
}

.benefits p {
	font-family: "Space Grotesk";
	color: #532c59;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
}

#testimonials {
	font-family: "Syne", sans-serif;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;	
	background-color: #f7f6fa; 
	margin-top: 40px;
	width: 100vw;
	overflow: hidden;
}


.contain_testimonials {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	

	justify-content: space-around;
	align-content: center;
	align-items: center;

	margin-top: 20px;
	width: 715px;
	margin-left: -189px;
}

.contain_testimonials img {
	margin: 5px;
}

#questions {
	padding: 16px;
}

#questions h1 {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	margin: 20px;
}

 
.questions_p {
	font-family: "Space Grotesk";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;
}



.question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 1px solid #d6bcfa;
	border-radius: 20px;

	padding: 16px;
	margin: 15px 0;
}


.question p {
	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color:#000;

	padding-right: 40px;
}

.arrow {
	color: #9F7AEA;
	width: 20px;
	height: 20px;

}


#ready {
	font-family: "Syne";
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: center;
	align-content: center;

	
	border: 1px solid #d6bcfa;
	border-radius: 40px;
	box-shadow: inset 0px 0px 50px #f8e0fa;
	background: #fcfaff;
	padding: 16px;
	margin: 10px;
}

.ready_p {
	font-family: "Space Grotesk";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: #532c59;

	margin: 10px;
}

#ready button {
	font-family: "Syne", sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700px;

	background-color: #532c59;
	border-color: transparent;
	border-radius: 14px;

	padding: 12px;
}

footer {
	padding: 50px 10px 0;
}

.end_logo {
	padding-bottom: 20px;
}

.extra {
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-top: 1px solid #ccd5df;
	border-bottom: 1px solid #ccd5df;
}

.extra_items {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 180px;


	font-family: "Space Grotesk";
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	opacity: 50%;
	background: #fcfaff;
}

.copyright {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	font-family: "Space Grotesk";
	opacity: 50%;
	font-size: 14px;
	line-height: 20px;
	background: #fcfaff;
	margin: 30px;
}

@media (min-width: 768px) {




	
}